---
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h2
    class="mb-2 sm:mb-4 text-center pb-2 text-lg sm:text-2xl font-inter font-extralight uppercase tracking-tight first:mt-0 text-zinc-400"
  >
    Testimonials:
  </h2>
  <article class="grid grid-cols-1 px-2 sm:px-0 gap-y-4">
    <Testimonial name="Obi-Wan Kenobi" imageUrl="/obi-wan-kenobi.jpg"
      >Hello there! This appears to be promising! I sense a strong presence of
      the <strong>Force</strong> within this site. ⚡</Testimonial
    >
    <Testimonial name="Severus Snape" imageUrl="/severus-snape.jpg"
      >This seems somewhat intriguing. <strong>However</strong>, it remains to be seen if it will prove worthy of attention.</Testimonial
    >
  </article>
</Layout>

<style>
  .testimonial::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
  }
</style>
