---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import type { MarkdownInstance } from "astro";

const allPosts: MarkdownInstance<{
  title: string;
  description: string;
  pubDate: string;
}>[] = await Astro.glob("./blog/*.md");
---

<Layout title="">
  <h2
    class="mb-2 sm:mb-4 text-center pb-2 text-lg sm:text-2xl font-inter font-extralight uppercase tracking-tight first:mt-0 text-zinc-400"
  >
    Recent posts:
  </h2>
  <ul class="px-2 sm:px-0 grid gap-y-4">
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</Layout>
