---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import type { MarkdownInstance } from "astro";

const allPosts: MarkdownInstance<{
  title: string;
  description: string;
  pubDate: string;
}>[] = await Astro.glob("./posts/*.md");
---

<Layout title="">
  <h2
    class="mb-8 text-center pb-2 text-2xl sm:text-3xl font-semibold tracking-tight first:mt-0"
  >
    Recent posts:
  </h2>
  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</Layout>
