---
import type { MarkdownInstance } from "astro";

interface Props {
  post: MarkdownInstance<{
    title: string;
    description: string;
    pubDate: string;
  }>;
}

const { post } = Astro.props;
---

<li class="bg-opacity-15 bg-black shadow-sm p-4 sm:p-8 rounded-lg">
  <a href={post.url} class="text-xl sm:text-2xl font-semibold text-pretty"
    >{post.frontmatter.title}</a
  >
  <p
    class="text-zinc-800 dark:text-zinc-100 leading-6 sm:leading-7 sm:text-base text-sm mt-4 text-pretty break-words"
  >
    {post.frontmatter.description}
  </p>
</li>

<style>
  a {
    font-family: "Merriweather", serif;
  }
</style>
