---

---

<footer class="mb-8 mt-16 text-center">
  <p class="text-sm font-light leading-7 [&:not(:first-child)]:mt-6">
    Learn more about my projects on <a
      href={`https://www.github.com/chtozamm`}
      target="_blank"
      class="link py-2 font-semibold">GitHub</a
    >!
  </p>
</footer>
