---

---

<footer class="text-center my-8">
  <p class="leading-7 [&:not(:first-child)]:mt-6 text-sm">
    Learn more about my projects on <a
      href={`https://www.github.com/chtozamm`}
      target="_blank"
      class="font-bold">GitHub</a
    >!
  </p>
</footer>
