---
import Navigation from "./Navigation.astro"
---

<header class="w-full">
  <Navigation />
  <h1
    id="title"
    class="relative z-10 mx-auto mb-12 w-fit -translate-x-6 select-none text-center text-5xl font-extrabold tracking-tight sm:my-12 sm:mb-16 sm:text-6xl">
    Astroblog <img
      src="/favicon.svg"
      class="rocket absolute -right-14 top-0 w-12 sm:-mr-4 sm:w-16"
      loading="eager"
      alt="Astro"
    />
    <img
      src="/images/tap-here.png"
      alt="Tap on the header to open menu"
      class="absolute -left-12 top-12 hidden w-1/2 scale-75 sm:hidden"
      id="tap-pointer"
    />
  </h1>
</header>

<style>
  h1 {
    background: linear-gradient(-45deg, #f32a49, #ffffff, #3eaae8);
    background-size: 300%;
    background-clip: text;
    text-shadow:
      white 0px 0px 1px,
      hsla(199, 100%, 50%, 0.4) 1px 1px 10px,
      rgba(255, 72, 0, 0.4) -1px -1px 10px;
    transition: all 0.3s ease-out;

    animation: flicker steps(100) 2s infinite;
    will-change: filter;
    filter: saturate(150%);
  }
  .glow {
    text-shadow:
      white 0px 0px 10px,
      #3eaae8 0px 0px 15px;
    transition: all 0.3s ease-out;
  }
  @media (min-width: 640px) and (min-height: 480px) {
    h1:hover {
      text-shadow:
        white 0px 0px 10px,
        #3eaae8 0px 0px 15px;
      transition: all 0.3s ease-out;
    }
    h1:hover .rocket {
      filter: drop-shadow(-1px -1px 3px white)
        drop-shadow(1px 1px 5px hsla(199, 100%, 50%, 0.8))
        drop-shadow(0px 20px 15px rgba(255, 72, 0, 0.5));
      transition: all 0.3s ease-out;
    }
  }
  @keyframes flicker {
    90% {
      filter: saturate(80%);
    }
  }
  .rocket {
    will-change: transform;
    animation: hover infinite 5s both ease-in-out;
    transition: all 0.3s ease-out;

    filter: drop-shadow(-1px -1px 1px rgba(255, 72, 0, 0.4))
      drop-shadow(1px 1px 1px hsla(199, 100%, 50%, 0.4))
      drop-shadow(0px 20px 15px rgba(255, 72, 0, 0.25));
  }
  .glow .rocket {
    filter: drop-shadow(-1px -1px 3px white)
      drop-shadow(1px 1px 5px hsla(199, 100%, 50%, 0.8))
      drop-shadow(0px 20px 15px rgba(255, 72, 0, 0.5));
    transition: all 0.3s ease-out;
  }

  @keyframes hover {
    50% {
      transform: translate(0, 0.25rem);
    }
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const tapPointer = document.getElementById("tap-pointer")
    const header = document.querySelector("header")
    const title = document.querySelector("#title")
    const nav = document.getElementById("navigation")

    const isTapPointerHidden =
      !!window.localStorage.getItem("hide-pointer") || false
    if (!isTapPointerHidden) {
      tapPointer.classList.toggle("hidden")
    }

    header.addEventListener("click", () => {
      if (window.innerWidth <= 640) {
        title.classList.toggle("glow")
        if (!isTapPointerHidden) {
          window.localStorage.setItem("hide-pointer", "1")
          tapPointer.remove()
        }
      }
      nav.classList.toggle("hidden")
      nav.classList.toggle("flex")
    })

    document.querySelectorAll("a").forEach((a) => {
      a.addEventListener("click", () => {
        if (!nav.classList.contains("hidden")) {
          nav.classList.toggle("hidden")
          nav.classList.toggle("flex")
        }
      })
    })
  })
</script>
