---
const pathname = Astro.url.pathname;
---

<nav
  class="text-center mt-8 text-sm select-none flex text-zinc-200 items-center justify-center gap-8"
>
  <a
    href="/"
    class={`${pathname === "/" && "font-bold text-zinc-50"} sm:min-w-16 mr-4 last:m-0`}
    >Home</a
  >
  <a
    href="/about"
    class={`${pathname === "/about" && "font-bold text-zinc-50"} sm:min-w-16 mr-4 last:m-0`}
    >About</a
  >
</nav>

<style>
  nav {
    text-transform: uppercase;
    font-weight: 600;
  }
</style>
