---
const { name, imageUrl } = Astro.props
---

<li
  class="flex flex-col gap-4 rounded-2xl bg-black bg-opacity-15 py-4 shadow-sm sm:flex-row sm:gap-6 sm:p-6">
  <section class="relative mx-auto aspect-square w-3/12 sm:mx-0">
    <img
      src={imageUrl}
      alt={name}
      loading="eager"
      class="absolute overflow-hidden rounded-2xl shadow-md"
    />
  </section>
  <section
    class="flex flex-col justify-center gap-2 text-center sm:border-l sm:border-neutral-600 sm:pl-6 sm:text-left">
    <p class={`font-semibold text-lg`}>
      {name}:
    </p>
    <p class="text-balance font-inter text-sm font-light leading-6">
      <slot />
    </p>
  </section>
</li>
