---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import CursorFollower from "../components/CursorFollower.astro"
import "../styles/global.css"
interface Props {
  title?: string
  header?: string
}

const { title, header } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal blog built with Astro 🚀" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - Astroblog` : "Astroblog"}</title>
  </head>
  <body
    class="flex min-h-screen flex-col justify-between selection:bg-cyan-600 selection:bg-opacity-30">
    <main class="mx-2 flex max-w-2xl flex-col items-center sm:mx-auto">
      <Header />
      {
        header && (
          <h2 class="mb-6 w-full text-center font-inter text-lg font-extralight uppercase tracking-wide sm:mb-8 sm:text-xl">
            {header}:
          </h2>
        )
      }
      <slot />
    </main>
    <Footer />
    <CursorFollower />
  </body>
</html>
